/*
CSS stylesheet for event editor formatting.
Created for CS 422 Project 2: ETA in Spring 2025.

Authors: Evelyn Orozco
Last modified: 05/31/2025
*/

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --primary-color: #ffffff; /* Default value */
  --secondary-color: #cccccc;
  --tertiary-color: #444444;
}

body {
  background-color: #555555;
  color: white;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.event-container {
  background-color: #000000;
  padding: 32px;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  width: 95%;
  max-width: 900px;
}

.publish-label {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 16px;
  color: #dddddd;
}


h1 {
  text-align: center;
  margin-bottom: 24px;
  color: #f0f0f0;
}

form {
  background-color: var(--tertiary-color); /* contrast panel */
  padding: 24px;
  border-radius: 8px;
  border: 1px solid #777;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

form label {
  color: #dddddd;
  display: block;
  margin-top: 16px;
  margin-bottom: 4px;
}

input[type="text"],
input[type="date"],
textarea,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 4px;
  border: none;
  background-color: var(--primary-color);
  color: black;
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.05);
}

textarea.description-box {
  height: 80px;
  resize: vertical;
}

/* Combine event and tasks */
button.add-event,
.dropdown-toggle,
.dropdown-task-toggle {
  background-color: var(--secondary-color);
  color: black;
  padding: 8px 15px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 16px;
  transition: 0.2s ease;
}

button.add-event:hover,
.dropdown-toggle:hover,
.dropdown-task-toggle:hover {
  scale: 105%;
  background-color: var(--secondary-color);
}

.date-time-pair {
  display: flex;
  justify-content: space-between;
  gap: 120px;
  align-items: flex-start; /* Aligns labels at top for date and time*/
  margin-bottom: 10px;
}

.date-time-item {
  display: flex;
  flex-direction: column;
  width: 45%; /* Each item takes half the width */
}

.date-time-item label {
  margin-bottom: 5px;
  font-weight: bold;
}

.date-time-item input {
  padding: 6px;
  width: 100%;
  box-sizing: border-box;
}

/* Make time boxes smaller */
input[type="time"] {
  width: 125px; 
  padding: 2px; 
}


.task-content.hidden {
  display: none;
}
.details-section {
  margin-top: 16px;
}

.details-content.hidden {
  display: none;
}

.details-content {
  margin-top: 12px;
  padding: 16px;

}
