/*
Sample CSS stylesheet.
Created for CS 422 Project 2: ETA in Spring 2025.

Authors: Claire Cody
Last modified: 05/20/2025
*/

@import url('https://fonts.googleapis.com/css2?family=Lato');

* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}


