<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Club Calendar: Dashboard</title>
    <link rel="stylesheet" href="../static/dashboard.css">
</head>
<body>
    <main>
        <div class="container">
            <div class="dash">
                <div class="schedule">
                    TODAY....
                </div>
                <div class="event-manager">
                    BLACK
                    BROWN
                    WHITE
                </div>
            </div>
            <button class="add-event"> ADD EVENT </button>
            <select name="" id="current-user" class="current-user"></select>
        </div>
    </main>
</body>
</html>